%label{for:"title"}Title:
%input#title{type:"text", name:"page[title]", value:"#{@page.title}", size:"32"}
%label{for:"content"}Content:
%textarea#content{name:"page[content]", row:"12", col:"72"}=@page.content